/*Setting the border, padding and margin for the entire page to zero*/
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fixing the navigation bar at the top of the page and bringing it in front of all other content*/
nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #000000;
    border-bottom: 0.2em solid #ff0000;
}

/*Removing all default styling for the unordered list in the navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

/*Setting the background color and specifying the position of the list items in the navigation bar*/
li {
    float: left;
    background-color: #000000;
    text-decoration: none;
}

/*Styling the separators*/
#Separator {
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

/*Setting the positions of the navigation bar links*/
#Home {
    margin-left: 20px;
    margin-right: 20px;
}

#Games {
    margin-left: 20px;
    margin-right: 20px;
}

#Gallery {
    margin-left: 20px;
    margin-right: 20px;
}

#Notices {
    margin-left: 20px;
    margin-right: 20px;
}

#Contact {
    margin-left: 20px;
}

/*Styling the navigation bar links*/
li a {
    text-align: left;
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

/*Setting the hover colour for the navigation bar links*/
li a:hover {
    color: #ff0000;
}

/*Applying a background colour to the body*/
body {
    background: #363636;
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}

/*Styling the heading*/
h2 {
    font-size: 5.6vw;
    color: #FFFFFF;
    margin-top: 7vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: sofia-pro, sans-serif;
}

/*Setting the position of the feedback form*/
#feedbackForm {
    position: relative;
    color: #FFFFFF;
    font-family: sofia-pro, sans-serif;
    font-size: 2vw;
    bottom: 15vw;
    left: 7vw;
}

/*Setting the position and size of the contact icon*/
#contactIcon {
    position: relative;
    max-width: 50vw;
    padding: 0;
    top: 13vw;
    left: 55vw;
}

/*Setting the position of the first text field in the form*/
#Text1 {
    height: 2vw;
    width: 20vw;
    border: solid 0.2vw #FF0000;
}

/*Setting the position of the second text field in the form*/
#Text2 {
    height: 2vw;
    width: 20vw;
    border: solid 0.2vw #FF0000;
}

/*Styling the position of the third text field in the form*/
#Text3 {
    height: 2vw;
    width: 20vw;
    border: solid 0.2vw #FF0000;
}

/*Setting the position and size of the submit button*/
#submitButton {
    position: relative;
    font-size: 1.2vw;
    width: 5vw;
    top: 3vw;
    right: 20.24vw;
}

/*Setting the height of the overall page container*/
#pageContainer {
    position: relative;
    min-height: 93vh;
}

/*Setting the distance between the content and the footer*/
#contentContainer {
    padding-bottom: 4.5vh;
}

/*Styling the footer element*/
footer {
    position: absolute;
    text-align: center;
    list-style-type: none;
    margin: auto;
    height: 4.5vh;
    background-color: #000000;
    overflow: hidden;
    border-top: 0.15em solid #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    font-size: 1.6vw;
    width: 100%;
    bottom: 0;

}

/*Applying a media query for responsive design between a screen width of 200 - 1920px*/
@media only screen and (min-width: 200px) and (max-width: 1920px) {

    body {
        height: 80%;
        width: 100%;
    }

    footer {
        position: relative;
        top: 44vh;
        width: 110vw;
    }

}

/*Applying a media query for responsive design between a screen width of 200 - 1000px*/
@media screen and (min-width: 200px) and (max-width: 1000px) {


    #Text1,
    #Text2,
    #Text3 {
        width: 50%;
    }

    #submitButton {
        position: relative;
        right: 50.4%;
        width: 20%;
        top: 3vh;
    }
}