* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #000000;
    border-bottom: 0.2em solid #ff0000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

li {
    float: left;
    background-color: #000000;
    text-decoration: none;
}

#Separator {
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

#Home {
    margin-left: 20px;
    margin-right: 20px;
}

#Games {
    margin-left: 20px;
    margin-right: 20px;
}

#Gallery {
    margin-left: 20px;
    margin-right: 20px;
}

#Notices {
    margin-left: 20px;
    margin-right: 20px;
}

#Contact {
    margin-left: 20px;
}

li a {
    text-align: left;
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

li a:hover {
    color: #ff0000;
}

body {
    background: #363636;
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}

h2 {
    font-size: 5.6vw;
    color: #FFFFFF;
    margin-top: 7vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: sofia-pro, sans-serif;
}

#feedbackForm {
    position: relative;
    color: #FFFFFF;
    font-family: sofia-pro, sans-serif;
    font-size: 2vw;
    top: 7vw;
    left: 7vw;
}

#Text1 {
    height: 2vw;
    width: 20vw;
    border: solid 0.2vw #FF0000;
}

#Text2 {
    height: 2vw;
    width: 20vw;
    border: solid 0.2vw #FF0000;
}

#Text3 {
    height: 2vw;
    width: 20vw;
    border: solid 0.2vw #FF0000;
}

#submitButton {
    position: relative;
    font-size: 1.2vw;
    width: 5vw;
    top: 3vw;
    right: 20.24vw;
}