/*Setting the border, padding and margin for the entire page to zero*/
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fixing the navigation bar at the top of the page and bringing it in front of all other content*/
nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #000000;
    border-bottom: 0.2em solid #ff0000;
}

/*Removing all default styling for the unordered list in the navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

/*Setting the background color and specifying the position of the list items in the navigation bar*/
li {
    float: left;
    background-color: #000000;
    text-decoration: none;
}

/*Styling the separators*/
#Separator {
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

/*Setting the positions of the navigation bar links*/
#Home {
    margin-left: 20px;
    margin-right: 20px;
}

#Games {
    margin-left: 20px;
    margin-right: 20px;
}

#Gallery {
    margin-left: 20px;
    margin-right: 20px;
}

#Notices {
    margin-left: 20px;
    margin-right: 20px;
}

#Contact {
    margin-left: 20px;
}

/*Styling the navigation bar links*/
li a {
    text-align: left;
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

/*Setting the hover colour for the navigation bar links*/
li a:hover {
    color: #ff0000;
}

body {
    background: #363636;
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}

h2 {
    font-size: 5.6vw;
    color: #FFFFFF;
    margin-top: 7vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: sofia-pro, sans-serif;
}

/* Slideshow container */
.slideshowContainer {
    max-width: 54.7vw;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.imageSlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 2.9%;
    width: auto;
    margin-top: -1.2vw;
    height: 41vw;
    padding: 0.8vw;
    color: white;
    font-weight: bold;
    font-size: 0.9vw;
    text-align: center;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

/*Positioning the "next" button on the right*/
.next {
    right: 0;
}

/*Adding a slightly opaque black background on hover for the "previous" and "next" buttons*/
.prev:hover,
.next:hover {
    background-color: rgba(36, 36, 36, 0.8);
}

/*Styling the caption text*/
.caption {
    color: #f2f2f2;
    font-size: 1.4vw;
    padding: 1vw 1.2vw;
    position: absolute;
    bottom: 0.24vw;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

/*Styling the number text*/
.numberText {
    color: #f2f2f2;
    font-size: 1vw;
    padding: 1vw 1.2vw;
    position: absolute;
    left: 3.8%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/*Styling the dots at the bottom of the slideshow*/
.selectDot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
}

/*Changing the colour of the dot if they are active*/
.active,
.selectDot:hover {
    background-color: #FF0000;
}

/*Adding the fade animation between switching slides*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*Setting the height of the overall page container*/
#pageContainer {
    position: relative;
    min-height: 93vh;
}

/*Setting the distance between the content and the footer*/
#contentContainer {
    padding-bottom: 4.5vh;
}

/*Styling the footer element*/
footer {
    position: absolute;
    text-align: center;
    list-style-type: none;
    margin: auto;
    height: 4.5vh;
    background-color: #000000;
    overflow: hidden;
    border-top: 0.15em solid #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    font-size: 1.6vw;
    width: 100%;
    bottom: 0;

}