nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #000000;
    border-bottom: 0.2em solid #ff0000;
    margin-left: -8px;
}

li {
    float: left;
    background-color: #000000;
    text-decoration: none;
}

#Home {
    margin-right: 7px;
}

#Games {
    margin-left: 50px;
}

#Gallery {
    margin-left: 50px;
}

#Notices {
    margin-left: 50px;
}

#Contact {
    margin-left: 50px;
}

li a {
    text-align: left;
    background-color: #000000;
    font-size: 1.8vw;
    font-family: "Courier New", 'Courier New', Courier, monospace;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

li a:hover {
    color: #ff0000;
}