* {
    border: 0;
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #000000;
    border-bottom: 0.2em solid #ff0000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

li {
    float: left;
    background-color: #000000;
    text-decoration: none;
}

#Separator {
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

#Home {
    margin-left: 20px;
    margin-right: 20px;
}

#Games {
    margin-left: 20px;
    margin-right: 20px;
}

#Gallery {
    margin-left: 20px;
    margin-right: 20px;
}

#Notices {
    margin-left: 20px;
    margin-right: 20px;
}

#Contact {
    margin-left: 20px;
}

li a {
    text-align: left;
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

li a:hover {
    color: #ff0000;
}

body {
    background: #363636;
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}

h2 {
    font-size: 5.6vw;
    color: #FFFFFF;
    margin-top: 7vh;
    text-align: center;
    font-family: sofia-pro, sans-serif;
}

#contentSection {
    display: inline-block;
}

#infoIcon {
    position: relative;
    max-width: 50vw;
    top: 19vw;
    left: 60vw;
}

#heading1 {
    position: relative;
    font-family: sofia-pro, sans-serif;
    color: #FFFFFF;
    font-size: 2vw;
    left: 7.85vw;
    bottom: 14vw;
    padding: 0;
    text-decoration: underline;
}

#content1 {
    position: relative;
    font-family: sofia-pro, sans-serif;
    color: #FFFFFF;
    font-size: 1.3vw;
    left: 7.85vw;
    bottom: 13vw;
}

#heading2 {
    position: relative;
    font-family: sofia-pro, sans-serif;
    color: #FFFFFF;
    font-size: 2vw;
    left: 7.85vw;
    bottom: 4vw;
    padding: 0;
    text-decoration: underline;
}

#content2 {
    position: relative;
    font-family: sofia-pro, sans-serif;
    color: #FFFFFF;
    font-size: 1.3vw;
    left: 7.85vw;
    bottom: 3vw;
}

#pageContainer {
    position: relative;
    min-height: 93vh;
}

#contentContainer {
    padding-bottom: 4.5vh;
}

footer {
    position: absolute;
    text-align: center;
    list-style-type: none;
    margin: auto;
    height: 4.5vh;
    background-color: #000000;
    overflow: hidden;
    border-top: 0.15em solid #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    font-size: 1.6vw;
    width: 100%;
    bottom: 0;

}

@media only screen and (min-width: 200px) and (max-width: 1920px) {

    body {
        height: 80%;
        width: 100%;
    }

    footer {
        position: relative;
        top: 29.4vh;
        width: 110vw;
    }

}