* {
    border: 0;
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #000000;
    border-bottom: 0.2em solid #ff0000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

li {
    float: left;
    background-color: #000000;
    text-decoration: none;
}

#Separator {
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

#Home {
    margin-left: 20px;
    margin-right: 20px;
}

#Games {
    margin-left: 20px;
    margin-right: 20px;
}

#Gallery {
    margin-left: 20px;
    margin-right: 20px;
}

#Notices {
    margin-left: 20px;
    margin-right: 20px;
}

#Contact {
    margin-left: 20px;
}

li a {
    text-align: left;
    background-color: #000000;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

li a:hover {
    color: #ff0000;
}

body {
    background: #363636;
    width: 100vw;
    height: 90vh;
}

h2 {
    font-size: 5.6vw;
    color: #FFFFFF;
    margin-top: 7vh;
    text-align: center;
    font-family: sofia-pro, sans-serif;
}

#contentSection {
    display: inline-block;
}

#infoIcon {
    position: relative;
    max-width: 20vw;
    top: 12vw;
    left: 74vw;


}

footer {
    text-align: center;
    list-style-type: none;
    margin: auto;
    background-color: #000000;
    overflow: hidden;
    border-top: 0.15em solid #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    font-size: 1.6vw;
    margin-top: 15.13vw;
}